
/* Your CSS Code here. */
h2{
	 text-decoration-line: underline;
	color:white;
	text-font-size:20px;
}
div{
	background-color: purple;
	width:200px;
	border-left:5px solid rgb(0,255,0);
	padding : 10px;

	
}
